#all-productdetail{
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#all-productdetail .product-left{
    width: 60%;
    height: auto;
    float: left;

}
.product-left .mini-img{
    width: 20%;
    height: auto;
    float: left;
}
.mini-img .box-img{
    width: 48%;
    margin-right: 2px;
    height: 100px;
    float: left;
    margin-top: 2px;
    border: none;
    cursor: pointer;
}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.outline{
    outline: 3px solid black;
    outline-offset: -3px;
}
.product-left .big-img{
    width: 80%;
    height: 90vh;
    float: left;
}
.big-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#all-productdetail .product-right{
    width: 35%;
    float: left;
    height: 100vh;
}
.product-right h2{
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    height: auto;
}
.product-right>h3{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 20px;
}
.product-right .size-product-right{
    width: 100%;
    height: 18vh;
}
.size-product-right h3{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.size-product-right .box-size-right{
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    margin-right:10px;
    margin-bottom: 10px;
}
.box-size-right:hover{
    outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 3px;
}
.box-size-right p{
    font-size: 13px;
    font-weight: 500;
}
.outline-size{
    outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 3px;
}

.product-right .quantity{
    width: 90%;

}
.quantity .quantity-all{
    display: flex;
    margin-bottom: 20px;

}
.quantity-all input::-webkit-inner-spin-button,
.quantity-all input::-webkit-outer-spin-button {
    display: none;
}
.quantity-all input{
    
    width: 40px;
    border: 1px solid #e6e6e6;
    width: 60px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    appearance: none;

}
.quantity-all button{
    border: 1px solid #e6e6e6;
    width: 50px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 3px;
    background: none;
}
.quantity h3{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
}
.product-right .add-to-cart{
    margin: 10px 0;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-to-cart input{
    width: 82%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;

}
.add-to-cart .favourite{
    height: 50px;
    width: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
} 
.product-details {
    width: 90%;
    border-radius: 4px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    
}


.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
}
.details-header h3{
    font-size: 15px;
    font-weight: 600;
}
.details-header i {
    font-size: 20px;
    transition: transform 0.3s;
}

.details-content {
    margin-top: 10px;
    display: none;
}

.details-content ul{

    margin: 0;
    padding-left: 20px;
    font-size: 14px;
    line-height: 25px;
}
.details-content ul li{
    list-style-type: disc;
}





container #information-product{
    width: 100%;
    height: auto;
    margin-top: 20px;
    float: left;
}
#information-product .menu-information{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.menu-information li{
    line-height: 50px;
    height: 50px;
}
.menu-information li:hover a{
    color: #000;
}

.menu-information li a{
    color: #333;
    display: block;
    padding: 0 30px;
}

#information-product .information-contents{
    float: left;
    width: 100%;
    height: auto;
    padding:0 50px;
    font-size: 15px;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.information-contents .contents-all-information{
    width: 100%;
    height: auto;
    overflow: hidden;
}

#information-product .information-contents h3{
    width: 100%;
    height: 50px;
    line-height: 50px;

}
.information-contents .see-more-imformation{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(222, 211, 211, 0.742), transparent);


}
.see-more-imformation button{
    background: none;
    border: 1px solid #333;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
}
.see-more-imformation button:hover{
    background-color: rgba(255, 0, 0, 0.688);
    color: #fff;
    cursor: pointer;
}




.information-contents .rating-container {
    background: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating-container .rating-left {
    text-align: center;
}
.rating-left .rating-score {
    font-size: 50px;
    color: #ff6600;
    font-weight: bold;
}
.rating-score .stars-text {
    font-size: 16px;
    color: gray;
}
.rating-container .rating-right {
    flex-grow: 1;
    margin-left: 20px;
}
.rating-right .rating-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: gray;
}
.rating-item .bar {
    width: 150px;
    height: 10px;
    background: #e0e0e0;
    margin: 0 10px;
    border-radius: 5px;
    
}
.bar .btn-review {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0 0 20px;

}
.bar .btn-review:hover{
    background-color: rgba(255, 0, 0, 0.688);

}

.information-contents .user-reviews{
    width: 100%;
    height: auto;
    display: none;
}
.user-reviews .star {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
.user-reviews .star i{
    font-size: 30px;
    cursor: pointer;
    color: gray;
    transition: color 0.2s ease-in-out;


}

.star i.bxs-star {
    color: gold;
}
.user-reviews .comment-box{
    width: 100%;
    height: 50px;

}
.comment-box .cmt-box{
    width: 75%;
    height: 40px;
    border: 1px solid #3333336d;
    background: none;
    padding-left: 20px;
    border-radius: 5px;
}
.comment-box .cmt-box:focus{
    border: 1px solid #333;

}
.comment-box .submit-cmt{
    width: 22%;
    margin-left: 2%;
    height: 40px;
    background: red;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

}
.comment-box .submit-cmt:hover{
    background-color: rgba(255, 0, 0, 0.688);

}



.user-reviews .review-user-cmt {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f9f9f9;
}

.review-user-cmt .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.review-user-cmt .review-content {
    font-size: 16px;
    margin-bottom: 5px;
}
.review-user-cmt .review-actions {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.review-user-cmt .review-actions i {
    margin-left: 5px;
    cursor: pointer;
}
#container .row-righ-relatedproduct{
    float: left;
    width: 100%;
    height: auto;
   
 }
 .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-pro {
    width: 23%;
    height: auto;
}
.price p {
margin:10px 3px;
}